@model StudentManagement.Models.Groups

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Create Group</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a style="color: green;" asp-action="Index" asp-controller="Groups">Groups</a></li>
                        <li class="breadcrumb-item active">Form Add New</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h5 class="card-title">Create Group</h5>
                        </div>
                        <div class="card-body">
                            <form asp-action="Create">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label asp-for="Department_id" class="control-label"></label>
                                            <select asp-for="Department_id" class="form-control" asp-items="ViewBag.Department_id">
                                                <option value="">Select Department</option>
                                            </select>
                                            <span asp-validation-for="Department_id" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Term_id" class="control-label"></label>
                                            <select asp-for="Term_id" class="form-control" asp-items="ViewBag.Term_id">
                                                <option value="">Select Term</option>
                                            </select>
                                            <span asp-validation-for="Term_id" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Teacher_id" class="control-label"></label>
                                            <select asp-for="Teacher_id" class="form-control" asp-items="ViewBag.Teacher_id">
                                                <option value="">Select Teacher</option>
                                            </select>
                                            <span asp-validation-for="Teacher_id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Student_number" class="control-label"></label>
                                            <input asp-for="Student_number" class="form-control" />
                                            <span asp-validation-for="Student_number" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>Status</label>
                                            <select asp-for="Status" class="form-control">
                                                <option value="1">Active</option>
                                                <option value="0">Deactive</option>
                                            </select>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
